<p>welcome works!</p>

{{title}} everybody

<h3> this are your books</h3>

<ul>
    <li *ngFor = 'let book of books'>
        title: {{book.title}} author: {{book.author}}
    </li>
</ul>

<!-- את לא צריכה את זה.... -->